
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;700&family=Roboto+Serif:wght@400;700&family=Public+Sans:wght@400;700&display=swap');
body {
    background-color: #FDFDFB;
    margin: 0px;

}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 16px 48px;
    align-items: center;

}
.navbar h1 {
    font-size: 42px;
    font-family: 'Source Serif 4', serif;
    font-weight: 500;
    
}
.navbar ul {
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 28px;
    font-family: 'Roboto Serif', serif;
    font-weight: 100;
    cursor: pointer;
    
}
.navbar ul li:hover{
    color: grey;
    transition-duration: 0.2s;
}

header h1 {
    font-family: 'Roboto Serif', serif;
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: -0.02em;
    text-align: center;
}
header img {
    width: 90%;
    height: auto;
    border-radius: 28px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
